.about {
  max-width: 980px;
  margin: 100px auto;
  // background-color: sandybrown;
  display: flex;
  flex-direction: column;

  .about-top-section {
    margin-bottom: 100px;
    // background-color: green;
    h1 {
      width: 150px;
      font-family: proxima-nova-extra-condensed, sans-serif;
      font-size: 60px;
      font-weight: normal;
      text-transform: uppercase;
      border-bottom: $site-black solid 2px;
    }
    p {
      font-family: Gill;
      font-size: 16px;
      margin: 0 auto;
    }
  }
  .about-bottom-section {
    margin-bottom: 50px;
    h3 {
      width: 200px;
      font-family: proxima-nova-extra-condensed, sans-serif;
      font-size: 40px;
      font-weight: normal;
      text-transform: uppercase;
      border-bottom: $site-black solid 2px;
      margin-bottom: 30px;
    }
    p {
      font-family: Gill;
      font-style: italic;
      font-size: 16px;
      margin: 0 auto;
    }
    .client {
      max-width: 772px;
      min-height: 150px;
      margin-bottom: 38px;
      display: flex;
      //   margin: 0 auto;
      .client-image {
        height: 150px;
        width: 260px;
        // background-color: bisque;
        &.client1 {
          background-image: url(../assets/about-client-01.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &.client2 {
          background-image: url(../assets/about-client-02.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    .client-quote {
      position: relative;
      min-height: 50px;
      width: 100%;
      padding-left: 25px;

      p {
        width: 385px;
      }

      //adds extra cusion to last paragraph before sig
      p:last-of-type {
        margin-bottom: 25px;
      }

      //signature
      .client-quote-name {
        width: 100%;
        text-align: right;
        font-family: proxima-nova-extra-condensed, sans-serif;
        font-size: 20px;
        font-weight: normal;
        font-variant: small-caps;
        color: $site-blue;
      }
    }
  }
}
